
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6"> <img src="@Url.Content("~/Content/img/about.jpg")" class="img-responsive" alt=""> </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2>Who We Are</h2>
                    <p>
                        RK constructions has realized your dreams of living in the lap of luxury home with a relaxing environment. So gear up for a new way of living - our way of living !.we have an unblemished record of over of all their projects before the committed dates and to the entire satisfaction of their valued customers.
                        We RK constructions contractor and real estate agent is a team of highly qualified and experienced people with a proven track record of more than "Many YEARS" in the feild of construction . 
                        We claim to have provided economically viable, structurally sound and architecturally beautiful homes to a very long list of our satisfied customers. 
                        We are residential property developers offering luxurious villas, Residencial House, Kothi, Hospitals, School and luxurious mansion for constructions and sale.
                    </p>
                    <h3>Why Choose Us?</h3>
                    <div class="list-style">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Years of Experience</li>
                                <li>Fully Insured</li>
                                <li>Cost Control Experts</li>
                                <li>100% Satisfaction Guarantee</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Free Consultation</li>
                                <li>Satisfied Customers</li>
                                <li>Project Management</li>
                                <li>Affordable Pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
